# Coordinates Fetcher

In [6]:
import requests
import pandas as pd

# Read the CSV file
data = pd.read_csv('Comp Analysis- BI Report.csv')

# Google Maps Geocoding API endpoint
geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json'

# Your API key
api_key = 'AIzaSyCkTew7ldqVZCn7MoLmgXE2aWE6UnK5mGI'

# Function to fetch coordinates from the API
def get_coordinates(city, state, country):
    params = {
        'address': f'{city}, {state}, {country}',
        'key': api_key
    }
    response = requests.get(geocode_url, params=params)
    data = response.json()
    
    if data['status'] == 'OK':
        result = data['results'][0]
        lat = result['geometry']['location']['lat']
        lng = result['geometry']['location']['lng']
        return lat, lng
    else:
        return None, None

# Initialize lists to store coordinates
latitudes = []
longitudes = []

# Iterate over each row in the DataFrame
for _, row in data.iterrows():
    city = row['City']
    state = row['State']
    country = row['Country']
    
    lat, lng = get_coordinates(city, state, country)
    latitudes.append(lat)
    longitudes.append(lng)

# Add the coordinates as new columns in the DataFrame
data['Latitude'] = latitudes
data['Longitude'] = longitudes

data

,Top Competitors,City,State,Country,Latitude,Longitude
0,Alleguard - Huntington,Greer,SC,United States,NaN,NaN
1,Alleguard - Huntington,Greenville,MI,United States,NaN,NaN
2,Alleguard - Huntington,Grove City,OH,United States,39.882193,-83.093538
3,Alleguard - Huntington,Radford,VA,United States,NaN,NaN
4,Alleguard - Huntington,Bastrop,TX,United States,30.110495,-97.315270
...,...,...,...,...,...,...
87,Insulfoam LLC,Salt Lake City,UT,United States,40.760779,-111.891047
88,Insulfoam LLC,Phoenix,AZ,United States,33.448377,-112.074037
89,Insulfoam LLC,Aurora,CO,United States,39.729432,-104.831919
90,Insulfoam LLC,Mead,NE,United States,41.228649,-96.489212
91,Insulfoam LLC,Lakeland,FL,United States,28.039465,-81.949804

In [13]:
data_na = data.query("Latitude.isna() | Longitude.isna()")

In [14]:
# Initialize lists to store coordinates
latitudes = []
longitudes = []

# Iterate over each row in the DataFrame
for _, row in data_na.iterrows():
    city = row['City']
    state = row['State']
    country = row['Country']
    
    lat, lng = get_coordinates(city, state, country)
    latitudes.append(lat)
    longitudes.append(lng)

# Add the coordinates as new columns in the DataFrame
data_na['Latitude'] = latitudes
data_na['Longitude'] = longitudes

data_na

C:\Users\shaha\AppData\Local\Temp\ipykernel_20712\1547632511.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\shaha\AppData\Local\Temp\ipykernel_20712\1547632511.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Top Competitors,City,State,Country,Latitude,Longitude
0,Alleguard - Huntington,Greer,SC,United States,34.938728,-82.227057
1,Alleguard - Huntington,Greenville,MI,United States,43.177531,-85.252799
3,Alleguard - Huntington,Radford,VA,United States,37.131792,-80.576448
5,Alleguard - Huntington,West Brookfield,MA,United States,42.235346,-72.141164
7,Alleguard - Huntington,Monticello,AR,United States,33.629670,-91.802186
16,Armstrong Brands,Buffalo,NY,United States,42.886447,-78.878369
20,EFP,Elkhart,IN,United States,41.687383,-85.973517
38,Atlas Molded Products,Kansas City,KS,United States,39.115531,-94.626787

In [17]:
# Merging the two dataframe
data = pd.concat([data.dropna(), data_na], axis=0)
data

,Top Competitors,City,State,Country,Latitude,Longitude
2,Alleguard - Huntington,Grove City,OH,United States,39.882193,-83.093538
4,Alleguard - Huntington,Bastrop,TX,United States,30.110495,-97.315270
6,Alleguard - Huntington,Cave Spring,GA,United States,34.107597,-85.336343
8,Cellofoam,Whiteland,IN,United States,39.550049,-86.079708
9,Cellofoam,Sallisaw,OK,United States,35.460371,-94.787446
...,...,...,...,...,...,...
5,Alleguard - Huntington,West Brookfield,MA,United States,42.235346,-72.141164
7,Alleguard - Huntington,Monticello,AR,United States,33.629670,-91.802186
16,Armstrong Brands,Buffalo,NY,United States,42.886447,-78.878369
20,EFP,Elkhart,IN,United States,41.687383,-85.973517
38,Atlas Molded Products,Kansas City,KS,United States,39.115531,-94.626787

In [18]:

data.to_csv("Comp Analysis- BI Report.csv", index=False)

In [20]:
data = data.drop_duplicates()

   Top Competitors     City State        Country  Latitude  Longitude
10       Cellofoam  Conyers    GA  United States  33.66761  -84.01769

In [22]:
data.to_csv("Comp Analysis- BI Report.csv", index=False)